
      <h2 class="text-center">Iniciar sesion</h2>
      <form [formGroup]="miFormulario" (submit)="login()">
        <div class="row">
          <div class="col">
            <mat-form-field class="example-full-width col-12" appearance="fill">
              <mat-label>Correo</mat-label>
              <input matInput placeholder="Ingrese su correo" type="email" formControlName='correo'>
              <mat-error class="text-danger mb-3">El correo no es valido</mat-error>
          </mat-form-field>
        </div>
      </div> 
      <div class="row">
        <div class="col">
        <mat-form-field class="example-full-width col-12" appearance="fill">
          <mat-label>Contrasena</mat-label>
          <input matInput placeholder="Ingrese su contrasena" type="password" formControlName='password'>
          <mat-error class="text-danger mb-3">La contrasena debe ser de mas de 6 caracteres</mat-error>
        </mat-form-field>
        </div>
      </div>
      <button mat-raised-button color='primary' class="col-12 mt-3" [disabled]="miFormulario.invalid">Iniciar sesion</button>
      </form>
      <div class="mt-3 text-center">
        <small>No tienes una cuenta registrate <a routerLink="/auth/register">AQUI</a></small>
      </div>

  