.example-full-width{
    /* border-left: 2px solid rgb(3, 95, 151);
    border-top: 2px solid rgb(3, 95, 151); */
    border: 2px solid rgb(3, 95, 151);
    border-radius: 10px;
}
.col-1{
    cursor: pointer;
}
mat-icon{
    cursor: pointer;
}
.anadir{
    cursor: pointer;
}
.anadir:hover{
    background-color: rgb(224, 232, 241);
}
h1{
    margin-top:50px;
    font-size: 100px;
}