
<app-menu></app-menu>

<div class="row p-3">
  <div class="col" align='center'>
    <h2 class="mt-2 text-start ps-5" >Ingrese el texto que desea editar</h2>
    <form [formGroup]="miFormulario">
      <mat-form-field class="example-full-width col-11" appearance="fill">
        <mat-label>Texto</mat-label>
        <textarea matInput rows="12" placeholder="Ingrese el texto que desee"
          formControlName='texto'
         (keyup)="guardarPalabras()"></textarea>
      </mat-form-field>
      <h3 class="mt-2">Seleccione el tipo de obtencion de palabras</h3>
      <mat-form-field appearance="fill" class="mt-1">
        <mat-label>Seleccione el tipo</mat-label>
        <mat-select name="tipo" formControlName='tipo' (valueChange)="borrarDatos()">
          <mat-option *ngFor="let opcion of opciones" [value]="opcion.value">
            {{opcion.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <div class="row ps-3 pe-3" *ngIf="miFormulario.get('tipo')!.value === '1'">
      <div class="col-1" *ngFor="let palabra of palabrasObtenidas; let i=index">
          <app-palabra [palabra]="palabra" [indice]="i" [jugando]="false"  [clase]="pintar(palabra)"  [bandera]="true"></app-palabra>
          <!-- -->
      </div>
    </div>


    <form  *ngIf="miFormulario.get('tipo')!.value === '3'">
      <div class="row ps-3 pe-3" >
        <div class="col-1" *ngFor="let palabra of aleatorias; let i=index">
          <app-palabra [palabra]="palabra" [indice]="i" [jugando]="false" [clase]="pintar(palabra)"  [bandera]="true"></app-palabra>
          <!-- [clase]="pintar(palabra)" -->
        </div>
        <div class="row justify-content-center  ">
            <mat-icon class="float-mid " (click)="aleatorio()">refresh</mat-icon> 
         </div>           
      </div>
    </form>

    <button mat-flat-button color="primary" [hidden]="miFormulario.invalid"  (click)="pasarDatos()" routerLink="/main/prueba">Guardar y continuar</button>
    <!-- (click)="guardarLocal()" -->
  </div>
</div>