    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-5">
              <li class="nav-item me-4">
                <a class="nav-link" aria-current="page" href="/main/editor/0" routerLinkActive="active">Plantilla de edicion</a>
              </li>
              <li class="nav-item me-4">
                <a class="nav-link" aria-current="page" routerLink="/main/prueba" routerLinkActive="active">Probar Scorm</a>
              </li>
              <li class="nav-item me-4">
                <a class="nav-link" aria-current="page" routerLink="/main/scorms" routerLinkActive="active">Mis Scorms</a>
              </li>
            </ul>
          </div>
          <span class="navbar-brand float-end me-5">Bienvenido {{nombre | titlecase}}</span>
        </div>
    </nav>
