
      <h2 class="text-center">Registrarse</h2>
      <form [formGroup]="miFormulario" (submit)="registrar()">
        <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width col-12" appearance="fill">
                  <mat-label>Nombre</mat-label>
                  <input matInput placeholder="Ingrese su nombre" type="text" formControlName='nombre'>
                  <mat-error class="text-danger mb-3">El nombre no es valido</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="example-full-width col-12" appearance="fill">
              <mat-label>Correo</mat-label>
              <input matInput placeholder="Ingrese su correo" type="text" formControlName='correo'>
              <mat-error class="text-danger mb-3">El correo no es valido</mat-error>
          </mat-form-field>
        </div>
      </div> 
      <div class="row">
        <div class="col">
        <mat-form-field class="example-full-width col-12" appearance="fill">
          <mat-label>Contrasena</mat-label>
          <input matInput placeholder="Ingrese su contrasena" type="password" formControlName='password'>
          <mat-error class="text-danger mb-3">La contrasena debe ser de mas de 6 caracteres</mat-error>
        </mat-form-field>
        </div>
      </div>
      <button mat-raised-button color='primary' class="col-12 mt-3" [disabled]="miFormulario.invalid">Registrarse</button>
      </form>
      <div class="mt-3 text-center">
        <small>Ya tienes una cuenta ingresa <a routerLink="/auth/login">AQUI</a></small>
      </div>