
.col-12{
    width: 80%;
    margin: auto;
}
.row>.btn{
    margin-left: 40px;
}   
.border>.btn{
    margin-left: 15px;
}
span{
    cursor: pointer;
}
aside{
    display: inline-block;
    margin-bottom: 4%;
}
.alert{
    margin: 0px;
    padding: 7px;
    font-size: 13px;
}

