.row{
    
    height: 90%;
}
.col-4{
    border-left: 2px solid rgb(3, 95, 151);
    
}
span{
    cursor: pointer;
    
}
mat-form-field{
    padding: 5px;
    margin-left: 15px;
    border: 2px solid rgb(3, 95, 151);
}

    .alert{
        margin: 0px;
        padding: 7px;
        font-size: 13px;
    }
