<app-menu></app-menu>

<h2 class="text-center mt-2 animate__animated animate__pulse animate__infinite">Probando</h2>
<div class="row">
    <div class="col-8">
  
        <span *ngFor="let palabra of obtenidas, let i=index">
            <small class="alert alert-danger" *ngIf="this.palabras.includes(palabra); else res">
                <span (click)="eliminarRespuesta(palabra)" *ngIf="this.respuestas.includes(palabra)">
              {{palabra}}
                </span>
            </small>
            <ng-template #res>
                {{palabra}}
            </ng-template>      
        </span>
    </div>
    <div class="col-4">
        <button mat-flat-button color="primary" class="col-11 mb-2" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Verificar Respuestas</button>
        <span *ngFor="let pal of palabras; let i=index">
           <button [id]="i" class="btn btn-danger mb-3 col-11" (click)="agregarRespuesta(pal,i)">{{pal}}</button><br>
        </span>
        <div class="row">
          <div class="col-6">
            <button mat-flat-button color="primary" class="col-11 mt-2" (click)="descargar()">Descargar ZIP</button>
          </div>
          <div class="col-6">
            <button mat-flat-button color="primary" class="col-10 mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal2" *ngIf="!scorm._id">Guardar</button>
            <button mat-flat-button color="primary" class="col-10 mt-2"  *ngIf="scorm._id" (click)='actualizar()' routerLink="/main/scorms">Guardar cambios</button>
            <!-- (click)="guardar()" -->
          </div>
        </div>
    </div>
<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Actividad Finalizada</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h3 class="text-center">Su calificacion es: {{verificarRespuesta()}}!!</h3>
        </div>
       
      </div>
    </div>
  </div>

  <!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
     
      <div class="modal-body">
        <h4 class="text-center"><b>Ingrese el nombre del Scorm</b></h4>
        <form [formGroup]="form">
          <mat-form-field class="example-full-width" class="col-11" appearance="fill">
            <mat-label>Nombre Scorm</mat-label>
            <input type="text" matInput placeholder="Ingrese el nombre del scorm" formControlName='nombre'>         
          </mat-form-field>
        </form>
        <div class="mt-2">
          <button type="button" class="btn btn-secondary float-end me-3" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary float-start ms-3" (click)="guardar()" data-bs-dismiss="modal">Guardar Scorm</button>
        </div>
      </div>
      
    </div>
  </div>
</div>
  
</div>
