<app-menu></app-menu>

<div>
    <ng-template #mensaje class="a mt-3">
        <h3 class="text-center lert alert-danger">Usted no tiene Scorms guardados</h3>
    </ng-template>
    <table class="table table-success table-striped mt-3" *ngIf="dataSource.length > 0; else mensaje" > 
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Tipo</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dataSource">
          <td><a [routerLink]="crearLink(item._id!)">{{item.nombre}}</a> </td>
          <td>{{item.tipo | tipo}}</td>
          <td class="op"><button mat-flat-button color="primary" (click)="descargarScorm(item.palabrasBorrar,item.palabrasObtenidas)">Descargar scorm</button> <button class="btn btn-danger ms-3" (click)="eliminar(item._id!)">Eliminar</button> </td>
        </tr>
        
      </tbody>
    </table>
      
      
</div>